@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	background-color: #E2FBFB;
}
body,html{
    /*background-image: url(img2.jpeg);*/
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
section .imgBx{
	position: relative;
	width: 50%;
	height: 170%;
}
section .imgBx:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(225deg,#e91e63,#03a9f4);
	z-index: 1;
	mix-blend-mode: screen;
}
section .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .contentBx{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	width: 50%;
	/*height: 100%;*/
}
section .contentBx .formBx h2{
	color: #607d8b;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #ff4584;
	display: inline-block;
	letter-spacing: 1px;
	/*height: 100vh;*/
}
section .contentBx .formBx .inputBx{
	margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
	font-size: 10px;
	margin-bottom: 5px;
	display: inline-block;
	color: #607d8b;
	font-weight: 300;
	font-size: 10px;
	letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
	width: 100%;
	padding: 5px 5px;
	outline: none;
	font-weight: 300;
	border: 1px solid #607d8b;
	font-size: 15px;
	letter-spacing: 1px;
	color: #607d8b;
	background: transparent;
	border-radius: 20px;
}
section .contentBx .formBx .inputBx input[type="submit"]{
	background: #ff4584;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
	background: #f53677;
}


section .contentBx .formBx .inputBx p {
	color: #ff4584;
}